/* GENERAL */
body{
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
}
#experience .row{
    list-style:none;
}
#experience .timeline{
    list-style:none;
}
section{
    padding: 45px 0px 80px 0;
}
section .heading{
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.red-divider{
    width: 100px;
    height: 2px;
    background: #000;
    margin: 0 auto 20px;

}
.white-divider{
    width: 100px;
    height: 2px;
    background: #000;
    margin: 0 auto 20px;
}


/* MENU */
.navbar {
    background-color: #DDD;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #000 !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #000 !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}


/* ABOUT */
#about{
    padding-top: 50px;
    background: #DDD;
}

.profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}
#about .heading h1{
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
    text-shadow: 1px 1px 1px;
}
#about .heading h3{
    color: #000;
}
.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover{
    background: white;
    color: #000;
    text-decoration: none;
}

/* SKILLS */
#skills{
    /* background: #fff; */
    background: #DDD;
}

#skills .heading h2 {
    color: #000;
}
#skills .progress{
    height: auto;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar{
    background: #7d7c7c;
}
#skills .progress h6{
    margin-top: 5px;
    /*text-shadow: 1px 1px 1px #000;*/
    color: black;
}


/* EXPERIENCE */
#experience{
    background: #DDD;
}
#experience .heading h2{
    color: #000;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
.timeline li .timeline-badge{
    color: #6b6b6b;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
}
.timeline-panel:after{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    /* border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent; */
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4{
     color: #000;
}


/* EDUCATION */
#certifications{
    background: #fff;
}
#certifications .heading h2{
    color: #000;
}
#education{
    background: #fff;
}
#education .heading h2{
    color: #000;
}
.education-block{
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}
.education-block h5{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block .fas{
    font-size: 35px;
}
.education-block h3{
     color: #888;
}
.education-block h4{
   margin-bottom: 20px;
}
.education-block p{
  font-weight: bold;
}
.education-block .red-divider{
    margin-bottom: 20px;
}


/* PORTFOLIO */
#portfolio{
    background: #DDD;
}
#portfolio .heading h2{
    color: #000;
}
#portfolio img{
    width: 100%;
    height: 100%;
    /* filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  */
}
#portfolio img:hover{
     filter: none;
    -webkit-filter: none; 
}
#portfolio .col-md-4{
    margin-bottom: 20px;
}


/* RECOMMANDATIONS */
#recommandations{
    background: #fff;
}
#recommandations .heading h2{
    color: #000;
}
.fas.fa-chevron-left, .fas.fa-chevron-right{
    background-image: none;
    color: #000;
}
.carousel-indicators{
    bottom: 0px;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #000;
}
.carousel-indicators li.active{
    background-color: #000;
}
#myCarousel .carousel-item{
    padding: 40px 30px;
}
#myCarousel .carousel-item h3{
    color: #000;
    font-style: italic;
}
/* realisation */
#realisation{
    background: #DDD;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* FOOTER */
footer{
    background: #333;
    padding: 20px 0 40px;
}
footer .fas{
    font-size:  25px;
    margin: 20px;
    color: #d82c2e;
    height: 30px;
}
footer .fas:hover{
    font-size:  27px;
}
footer h5{
    color: #fff;
    font-weight: normal;
}
